<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h2 class="py-3">Contact Us</h2>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-sm-5 col-md-2">
                <h5 id="footerTopic">Street Address</h5>
            </div>
            <div class="col-sm-5 col-md-2">
                <h5 id="footerTopic">Postal Address</h5>
            </div>
            <div class="col-sm-5 col-md-2">
                <h5 id="footerTopic">Phone & Email</h5>
            </div>
            <div class="col-sm-5 col-md-2">
                <h5 id="footerTopic">See Also</h5>
            </div>
        </div>
    </div>
    

</footer>
