<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top" id="mainNavbar">

  <div class="container">
      <a class="navbar-brand" routerLink=""><img src="../../assets/goldenmindslogo.png" alt="" width="150px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-lg-4 px-md-0"><a routerLink="" class="nav-link">HOME</a></li>
            <li class="nav-item px-lg-4 px-md-0"><a routerLink="about" class="nav-link">ABOUT</a></li>
            <!-- <li class="nav-item px-lg-3 px-md-0"><a routerLink="enrollment" class="nav-link">ENROLLMENT</a></li> -->
            <li class="nav-item px-lg-4 px-md-0"><a routerLink="gallery" class="nav-link">GALLERY</a></li>
            <li class="nav-item px-lg-4 px-md-0"><a routerLink="contact-us" class="nav-link">CONTACT US</a></li>        
        </ul>
      </div>
  </div>
  
</nav>
