<!-- <section id="pageContent">
        <div class="container">
            <h2>Gallery</h2>

            <div class="row">
                <div class="col-4">   *ngFor="let image of galleryImages"
                        <p>{{image}}</p>
                </div>                
            </div>
        </div>
</section> -->

<section id="pageContent">
    <div class="container">
        <h2>Gallery</h2>

        <div class="row">
            <div class="col-4" *ngFor="let image of images">
                <img src={{image}} alt="">
                <p>{{image}}</p>
            </div>
        </div>
    </div>
</section>
