<div class="px-0 py-0 d-flex"  id="slider">                      <!-- [width]="getSliderWidth()" [height]="getSliderHeight()" -->
    <!-- <div class="col-2">
        <span>2</span>

    </div>

    <div class="col-8">
        Middle part of slider with content

        <div class="d-flex flex-column">
            <div class="col-10">
                Caption and others go here
                <span>Content</span>
            </div>
            <div class="col-2">
                animated arrow pointing down placed here
                <span>Arrow</span>
            </div>
        </div>
    </div>

    <div class="col-2">
        <span>2</span>
    </div> -->

</div> 
