<slider></slider>


<!-- Mission Statement -->
<section id="mission">
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                    <h3>Early childcare is one of the biggest determinants of future success. Our mission is to give children the best start possible</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="showBackImage">

</section>



<section id="quickLinks">
    <div class="container">
            <div class="row justify-content-between align-items-center">
                    <div class="col-lg-4 my-4">
                        <div class="card">
                            <img src="https://source.unsplash.com/OyCl7Y4y0Bk" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Enroll</h5>
                                <p class="card-text">Become a part of this amazing community.</p>
                                <a href="#" class="btn btn-default border">Join Us</a>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 my-lg-0 my-4">
                        <div class="card">
                            <img src="https://source.unsplash.com/dRHE-XF7wls" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Take a tour</h5>
                                <p class="card-text">Take a peak at our beautiful spaces purposefully designed for child growth.</p>
                                <a href="#" class="btn btn-default border">View Gallery</a>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 my-4">
                        <div class="card">
                            <img src="https://source.unsplash.com/-0xCCPIbl3M" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Contact Us</h5>
                                <p class="card-text">Have you got questions? Don't wait.</p>                            
                                <a routerLink="parents" class="btn btn-default border">Call Us</a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
